<div class="row" id="review-details-<%= review.id %>">
  <%= render "shared/votes/vote_widget", review: review %>
  <div class="col col-md-11">
    <div class="panel panel-default">
      <div class="panel-heading">
        <b><%= link_to review.user_full_name, review.user %></b>
        <% if local_assigns[:center_displayed] %>
          <br/>
          <%= link_to review.center_name, center_path(review.center_route_params) %>
        <% end %>
        <span class="pull-right">
          <strong><%= review.summary_rating %></strong>
          <%= review.rating_criterion_1 %>
          <%= review.rating_criterion_2 %>
          <%= review.rating_criterion_3 %>
          <%= review.rating_criterion_4 %>
          <%= review.rating_criterion_5 %>
          </br>
          <%= link_to t(".report"),
            new_report_path(report: {reportable_id: review.id, reportable_type: review.model_name}),
            remote: true, class: "btn-new-report" %>
        </span>
        <br/>
        <i><%= time_as_format review.created_at %></i>
      </div>
      <div class="panel-body">
        <p><b><%= review.title %></b></p>
        <%= review.content %>
      </div>
      <div class="panel-footer">
        <%= link_to t(".show_comments", count: review.comments_count),
          review_comments_path(review), remote: true, class: "comments-count" %>
        <%=
          if policy(review).can_comment?
            link_to t(".new_comment"), new_review_comment_path(review),
              remote: true, class: "new-comment"
          end
        %>
        <span class="pull-right">
          <%= link_to t(".edit"), edit_review_path(review) if policy(review).update? %>
          <%=
            if policy(review).destroy?
              link_to t(".delete"), review_path(review), method: :delete,
                data: {confirm: t(".confirm_delete")}
            end
          %>
        </span>
      </div>
    </div>
    <div class="comment-list"></div>
    <div class="new-comment-form"></div>
  </div>
</div>
