<% content_for :cm_branches_activation, "active" %>
<div class="card user-setting-group">
  <div class="section-title-line">
    <h4>Quản lí chi nhánh</h4>
    <hr class="filler-line">
  </div>
  <div class="card-block">
    <div class="row">
      <div class="col-md-12 col-lg-12">
        <div class="row mb-2">
          <div class="col-md-8">
            <%= render "branch_filter", q: @q, support: @support %>
          </div>
          <div class="col-md-4">
            <%= link_to new_management_branch_path, class: "btn btn-default pull-right mt-0" do %>
              <i class="fa fa-plus"></i>
              <%= t(".create_new_branch") %>
            <% end %>
          </div>
        </div>
        <table class="table">
          <thead>
            <th>#</th>
            <th><%= Branch.human_attribute_name :name %></th>
            <th><%= Branch.human_attribute_name :full_address %></th>
            <th><%= Branch.human_attribute_name :phone_number %></th>
            <th><%= Branch.human_attribute_name :email %></th>
            <th><%= Branch.human_attribute_name :status %></th>
            <th><%= t ".action" %></th>
          </thead>
          <tbody id="branch_list">
            <%= render partial: "branch", collection: @branches, as: :branch %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
