<%= form_for @q, url: management_branches_path, method: :get, remote: true do |f| %>
  <%= f.select :city_slug_eq, @support.city_options, {include_blank: t(".select_city")} %>
  <%= f.select :status_eq, branch_status_options, {include_blank: t(".select_status")}%>
  <%= f.submit t(".filter") %>
<% end %>
<table class="table">
  <thead>
    <th><%= t ".index" %></th>
    <th><%= Branch.human_attribute_name :name %></th>
    <th><%= Branch.human_attribute_name :status %></th>
  </thead>
  <tbody id="branch-list">
    <%= render partial: "branch", collection: @branches, as: :branch %>
  </tbody>
</table>
