<div class="row" style="margin-top: 100px;">
  <div class="col col-md-3 col-sm-3">
    <%= form_for @search_form, url: search_url_makers_path, method: :get do |f| %>
      <%= render "location_filter", f: f, search_form: @search_form %>
      <hr/>
      <%= render "course_detail_filter", f: f, search_form: @search_form %>
      <%= f.submit t(".search"), class: "btn btn-primary pull-right" %>
    <% end %>
  </div>
  <div class="col col-md-9 col-sm-9">
    <%= render "search_results", centers: @search.centers, search_form: @search_form %>
    <div>
      <%= paginate @search.centers %>
    </div>
  </div>
</div>
