<h2><%= t ".sign_up" %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :first_name, User.human_attribute_name(:first_name) %><br />
    <%= f.text_field :first_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :last_name, User.human_attribute_name(:last_name) %><br />
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :email, User.human_attribute_name(:email) %><br />
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :password, User.human_attribute_name(:password) %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, User.human_attribute_name(:password_confirmation) %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit t(".sign_up") %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
