<head>
  <title>Classy</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  <%= yield :include_tag_layout %>
  <%= javascript_include_tag "#{Settings.google_map.src}?key=#{Settings.google_map.key}
    &libraries=#{Settings.google_map.libraries}&sensor=#{Settings.google_map.sensor}
    &language=#{Settings.google_map.language}&region=#{Settings.google_map.region}" %>
</head>
