<head>
  <title>Classy</title>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="assets/favicon.ico">
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
  <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.0/css/bootstrap-slider.min.css" %>
  <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>

  <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.0/bootstrap-slider.min.js" %>
  <%= yield :include_tag_layout %>
  <%= javascript_include_tag "#{Settings.google_map.src}?key=#{Settings.google_map.key}
    &libraries=#{Settings.google_map.libraries}&sensor=#{Settings.google_map.sensor}
    &language=#{Settings.google_map.language}&region=#{Settings.google_map.region}" %>
  <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js" %>
</head>
