<div class="header-fourth clearfix">
  <div class="main-navigation main-navigation--mega-menu  animated">
    <nav class="navbar navbar-expand-lg navbar-light navbar-right">
      <ul class="nav personal-actions">
        <li>
          <div class="btn-group notifications">
            <button type="button" id="notification_header"
              class="btn white-bg dropdown-toggle dropdown-toggle--no-caret"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= render "layouts/shared/notification_icon",
                counter: current_user.unread_notification_counter %>
            </button>
            <ul class="dropdown-menu dropdown-menu-right cart dropdown-animation"
              aria-labelledby="header-drop-2" id="notification-header-list">
            </ul>
          </div>
        </li>
        <li>
          <div class="btn-group profile-actions">
            <button type="button" class="btn btn-sm white-bg dropdown-toggle dropdown-toggle-split"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= image_tag current_user.avatar.small.url, class: "avatar rounded" %>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <%= link_to user_path(current_user), class: "dropdown-item" do %>
                <i class="fa fa-user pr-20"></i>
                <%= t ".profile" %>
              <% end %>
              <% if current_user.center_manager? %>
                <%= link_to management_dashboard_path, class: "dropdown-item" do %>
                  <i class="fa fa-mortar-board pr-10"></i>
                  <%= t ".my_center" %>
                <% end %>
              <% end %>
              <%= link_to edit_my_page_profile_path, class: "dropdown-item" do %>
                <i class="fa fa-cog pr-20"></i>
                <%= t ".settings" %>
              <% end %>
              <div class="dropdown-divider"></div>
              <%= link_to destroy_user_session_path, method: :delete, class: "dropdown-item" do %>
                <i class="fa fa-sign-out pr-20"></i>
                <%= t ".log_out" %>
              <% end %>
              <a class="dropdown-item" href="#"></a>
            </div>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</div>
