<% content_for :center_courses_activation, "active" %>
<div class="row">
  <div class="col-md-2">
    <%= render "center/shared/menu", center: @center %>
  </div>
  <div class="col-md-10">
    <table class="table">
      <thead>
        <th><%= Course.human_attribute_name :name %></th>
        <th><%= Course.human_attribute_name :category %></th>
        <th><%= Course.human_attribute_name :duration %></th>
        <th><%= Course.human_attribute_name :price %></th>
      </thead>
      <tbody>
        <%= render partial: :course, collection: @courses, as: :course %>
      </tbody>
    </table>
  </div>
</div>
