<div class="comment clearfix mb-1" id="comment-<%= comment.id %>">
  <div class="btn-group pull-right wrap-actions">
    <button type="button" class="hidden-group-actions mt-0 pt-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">...</button>
    <div class="dropdown-menu dropdown-menu-right">
      <button class="dropdown-item" type="button">Edit</button>
      <button class="dropdown-item" type="button">Delete</button>
    </div>
  </div>
  <div class="comment-avatar pb-3">
    <%= link_to comment.owner_path do %>
      <%= image_tag comment.owner.avatar.small.url, class: "rounded-circle" %>
    <% end %>
  </div>
  <div class="comment-body text-justify clearfix">
    <p class="mb-0 pr-4">
      <%= link_to comment.owner_path do %>
        <span class="bold"><b><%= comment.owner_name %></b></span>
      <% end %>
      <%= custom_simple_format comment.content, wrapper_tag: :span %>
    </p>
    <span class="comment-meta"><%= time_as_format comment.created_at %></span>
  </div>
</div>
