<div id="comment-<%= comment.id %>">
  <div class="media comment-form">
    <div class="media-left">
    </div>
    <div class="media-body">
      <b class="media-heading"><%= link_to comment.owner_full_name, comment.owner_path %></b>
      <p><%= comment.content %></p>
      <span class="pull-right">
        <%=
          if policy(comment.object).edit?
            link_to t(".edit"), edit_comment_path(comment), remote: true
          end
        %>
        <%=
          if policy(comment.object).destroy?
            link_to t(".delete"), comment_path(comment), remote: true,
              method: :delete, data: {confirm: t(".confirm_delete")}
          end
        %>
      </span>
    </div>
  </div>
  <div class="edit-comment-form"></div>
  <hr/>
</div>
