<div class="col-md-3 left_col">
  <div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0;">
      <%= link_to admin_root_path, class: "site_title" do %>
        <i class="fa fa-cogs"></i>
        <span>
          <%= t ".app_name" %>
          <%= t ".admin" %>
        </span>
      <% end %>
    </div>

    <div class="clearfix"></div>

    <!-- menu profile quick info -->
    <div class="profile clearfix">
      <div class="profile_pic">
        <%= image_tag current_user.avatar.small.url, class: "img-circle profile_img" %>
      </div>
      <div class="profile_info">
        <span><%= t ".welcome" %></span><h2><%= current_user.full_name %></h2>
      </div>
    </div>
    <!-- /menu profile quick info -->
    <br />
    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
      <div class="menu_section">
        <h3><%= t ".general" %></h3>
        <ul class="nav side-menu">
          <li class="<%= content_for :sidebar_users_activation %>">
            <a><i class="fa fa-user"></i><%= t ".users" %></a>
          </li>
          <li class="<%= content_for :sidebar_centers_activation %>">
            <%= link_to admin_centers_path do %>
              <i class="fa fa-mortar-board"></i><%= t ".centers" %>
            <% end %>
          </li>
          <li class="<%= content_for :sidebar_reports_activation %>">
            <%= link_to admin_reports_path do %>
              <i class="fa fa-file-text-o"></i><%= t ".reports" %>
            <% end %>
          </li>
        </ul>
      </div>
      <div class="menu_section">
        <h3><%= t ".master_data" %></h3>
        <ul class="nav side-menu">
          <li class="<%= content_for :sidebar_location_activation %>">
            <a><i class="fa fa-road"></i><%= t ".location" %></a>
          </li>
          <li class="<%= content_for :sidebar_categories_activation %>">
            <a><i class="fa fa-book"></i><%= t ".categories" %></a>
          </li>
        </ul>
      </div>

    </div>
    <!-- /sidebar menu -->

    <!-- /menu footer buttons -->
    <div class="sidebar-footer hidden-small">
      <a data-toggle="tooltip" data-placement="top" title="Settings">
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
      </a>
      <a data-toggle="tooltip" data-placement="top" title="FullScreen">
        <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
      </a>
      <a data-toggle="tooltip" data-placement="top" title="Lock">
        <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
      </a>
      <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
      </a>
    </div>
    <!-- /menu footer buttons -->
  </div>
</div>
