
<div class="row">
  <div class="col-md-3">

    <div class="box box-primary white-bg py-4">
      <div class="box-body box-profile">
        <%= image_tag @user.avatar.medium.url, style: "margin: auto; border-radius: 50%",
          class: "profile-user-img img-responsive pb-3 img-circle" %>
        <h3 class="profile-username text-center"><%= @user.full_name %></h3>
        <p class="text-muted text-center">
          <%= t(@user.role) %>
          <% if @user.center_manager? %>
            <br/>
            <%= link_to @user.managed_center.name, @user.managed_center.route_params %>
          <% end %>
        </p>
      </div>
    </div>

  </div>
  <div class="col-md-9">
    <div class="reviews-list">
      <%= render partial: "shared/reviews/review", collection: @reviews, as: :review,
        locals: {center_displayed: true} %>
    </div>
  </div>
</div>
