<span class="pull-right">
  <%=
    if policy(@center).can_edit?
      link_to t(".edit"), edit_management_center_path
    end

    if policy(@center).can_report?
      link_to t(".report"), new_report_path(report: {reportable_id: @center.id,
        reportable_type: @center.model_name}), remote: true, class: "btn-new-report"
    end
  %>
</span>
<%= @center.name %><br/>
<%= link_to t(".branch_list"), center_branches_path(@center.route_params) %><br/>
<%= link_to t(".reviews"), center_reviews_path(@center.route_params) %>
<%= render "shared/google_map/branches_map", branches: @branches %>
<div class="report-modal"></div>
