<h2><%= t ".edit_avatar" %></h2>

<%= form_for(@user, url: my_page_avatar_path) do |f| %>

  <div class="field form-group">
    <%= image_tag @user.avatar, id: "img-prev", class: "img-thumbnail" %>
    <%= f.file_field :avatar, id: "img-upload" %>
    <%= f.hidden_field :avatar %>
  </div>

  <div class="actions">
    <%= f.submit t(".update") %>
    <%= link_to t(".cancel"), user_path(@user), class: "btn btn-default" %>
  </div>
<% end %>
