<%= render "filter", q: @q, support: @support %>
<hr/>
<table class="table">
  <thead>
    <th><%= t ".index" %></th>
    <th><%= Review.human_attribute_name :email_verifiable %></th>
    <th><%= Review.human_attribute_name :phone_number_verifiable %></th>
    <th><%= Review.human_attribute_name :status %></th>
    <th><%= Review.human_attribute_name :branch %></th>
    <th><%= t ".action" %></th>
  </thead>
  <tbody id="review-verification-list">
    <%= render partial: "review", collection: @reviews, as: :review %>
  </tbody>
</table>
<div id="review-verification-pagination">
  <%= paginate @reviews %>
</div>
