<% content_for :cm_review_verifications_activation, "active" %>
<div class="card user-setting-group">
  <div class="section-title-line">
    <h4><%= t ".review_verifications" %></h4>
    <hr class="filler-line">
  </div>
  <div class="card-block">
    <div class="row">
      <div class="col-md-12 col-lg-12">
        <%= render "filter", q: @q, support: @support %>

        <table class="table">
          <thead>
            <th>#</th>
            <th><%= Review.human_attribute_name :email_verifiable %></th>
            <th><%= Review.human_attribute_name :phone_number_verifiable %></th>
            <th><%= Review.human_attribute_name :status %></th>
            <th><%= Review.human_attribute_name :branch %></th>
            <th><%= t ".action" %></th>
          </thead>
          <tbody id="review-verification-list">
            <%= render partial: "review", collection: @reviews, as: :review %>
          </tbody>
        </table>
        <div id="review-verification-pagination">
          <%= paginate @reviews %>
        </div>
      </div>
    </div>
  </div>
</div>
