<div class="form-group">
  <%= f.label :name, Course.human_attribute_name(:name) %>
  <%= f.text_field :name %>
</div>
<div class="form-group">
  <%= f.label :category_id, Course.human_attribute_name(:course_category) %>
  <%= f.select :category_id, support.course_category_options,
    {include_blank: t(".select_course_category")}, class: "course_category_selection" %>
</div>
<div class="form-group">
  <%= f.label :tmp_course_sub_category_ids, Course.human_attribute_name(:course_sub_categories) %>
  <%= f.select :tmp_course_sub_category_ids, support.course_sub_category_options, {},
    multiple: true, class: "select2_course_sub_categories" %>
</div>
<div class="form-group">
  <%= f.label :intended_student, Course.human_attribute_name(:intended_student) %>
  <%= f.text_area :intended_student %>
</div>
<div class="form-group">
  <%= f.label :target, Course.human_attribute_name(:target) %>
  <%= f.text_area :target %>
</div>
<div class="form-group">
  <%= f.label :sessions, Course.human_attribute_name(:sessions) %>
  <%= f.number_field :sessions %>
</div>
<div class="form-group">
  <%= f.label :duration, Course.human_attribute_name(:duration) %>
  <%= f.text_field :duration %>
</div>
<div class="form-group">
  <%= f.label :class_size, Course.human_attribute_name(:class_size) %>
  <%= f.number_field :class_size %>
</div>
<div class="form-group">
  <%= f.label :curriculum, Course.human_attribute_name(:curriculum) %>
  <%= f.text_area :curriculum %>
</div>
<div class="form-group">
  <%= f.label :teaching_methods, Course.human_attribute_name(:teaching_methods) %>
  <%= f.text_area :teaching_methods %>
</div>
<div class="form-group">
  <%= f.label :tuition_fee, Course.human_attribute_name(:tuition_fee) %>
  <%= f.number_field :tuition_fee %>
</div>
<%= f.submit %>
