<% content_for :cm_courses_activation, "active" %>
<div class="card user-setting-group">
  <div class="section-title-line">
    <h4>Quản lý chương trình học</h4>
    <hr class="filler-line">
  </div>
  <div class="card-block">
    <div class="row">
      <div class="col-md-12 col-lg-12">
        <%= link_to new_management_course_path, class: "btn btn-default pull-right mt-0 mb-3" do %>
          <i class="fa fa-plus"></i> Thêm chương trình học
        <% end %>
        <table class="table">
          <thead>
            <th>#</th>
            <th><%= Course.human_attribute_name :name %></th>
            <th><%= Course.human_attribute_name :category %></th>
            <th>Thời lượng học</th>
            <th><%= Course.human_attribute_name :tuition_fee %></th>
            <th></th>
          </thead>
          <tbody>
            <%= render partial: :course, collection: @courses, as: :course %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
