<tr>
  <td><%= index_on_pagination district_counter, @districts.current_page, 20 %></td>
  <td><%= district.city.name %></td>
  <td><%= district.name %></td>
  <td><%= district.key_name %></td>
  <td><%= district.priority %></td>
  <td>Edit | Update</td>
</tr>
