<tr>
  <td><%= review.user_full_name %></td>
  <td><%= review.title %></td>
  <td><%= review.summary_rating %></td>
  <td><%= review.rating_criterion_1 %></td>
  <td><%= review.rating_criterion_2 %></td>
  <td><%= review.rating_criterion_3 %></td>
  <td><%= review.rating_criterion_4 %></td>
  <td><%= review.rating_criterion_5 %></td>
  <td>
    <%= link_to t(".edit"), edit_review_path(review) if policy(review).update? %>
    <%= link_to t(".delete"), review_path(review), method: :delete if policy(review).destroy? %>
  </td>
</tr>
