<tr>
  <td>
    <%= index_on_pagination review_verification_counter,
      assigns["review_verifications"].current_page, Settings.review_verification.per_page %>
  </td>
  <td><%= review_verification.email %></td>
  <td><%= review_verification.phone_number %></td>
  <td><%= review_verification.status %></td>
  <td><%= review_verification.branch_full_name %></td>
  <td>
    <% if review_verification.forwarded? %>
      <%= link_to t(".accept"), branches_management_review_verification_path(review_verification,
        status: :verified), method: :put %>
      <%= link_to t(".reject"), branches_management_review_verification_path(review_verification,
        status: :rejected), method: :put %>
    <% end %>
  </td>
</tr>
