<% content_for :sidebar_users_activation, "active" %>
<% content_for :page_title do %>
  <div class="title_left">
    <h3><%= t ".user_management" %></h3>
  </div>
<% end %>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2><%= t ".user_list" %></h2>
        <% if current_user.root? %>
          <%= link_to new_admin_user_path, class: "btn btn-success no-radius pull-right" do %>
            <i class="fa fa-plus"></i>
            <%= t ".new_user" %>
          <% end %>
        <% end %>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div class="">
          <%= render "user_filter" %>
        </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th><%= User.human_attribute_name :avatar %></th>
              <th><%= User.human_attribute_name :name %></th>
              <th><%= User.human_attribute_name :email %></th>
              <th><%= User.human_attribute_name :phone_number %></th>
              <th><%= User.human_attribute_name :role %></th>
              <th><%= t ".action" %></th>
            </tr>
          </thead>
          <tbody id="user_list">
            <%= render partial: "user", collection: @users, as: :user %>
          </tbody>
        </table>
        <div id="user_pagination">
          <%= paginate @users %>
        </div>
      </div>
    </div>
  </div>
</div>
