<% content_for :edit_profile_activation, "active" %>
<div class="card user-setting-group">
  <div class="section-title-line">
    <h5><%= t ".edit_personal_information" %></h5>
    <hr class="filler-line">
  </div>
  <div class="card-block">
    <div class="row">
      <div class="col-md-3 col-lg-3">
        <%= image_tag current_user.avatar.medium.url %>
      </div>
      <div class="col-md-9 col-lg-9">
        <%= form_for @user, url: my_page_profile_path, html: {multipart: true} do |f| %>
          <div class="form-group row">
            <%= f.label :first_name, User.human_attribute_name(:first_name),
              class: "col-md-3 col-form-label text-right" %>
            <div class="col-md-9">
              <%= f.text_field :first_name, class: "form-control" %>
            </div>
          </div>
          <div class="form-group row">
            <%= f.label :last_name, User.human_attribute_name(:last_name),
              class: "col-md-3 col-form-label text-right" %>
            <div class="col-md-9">
              <%= f.text_field :last_name, class: "form-control" %>
            </div>
          </div>
          <div class="form-group row">
            <%= f.label :avatar, User.human_attribute_name(:avatar),
              class: "col-md-3 col-form-label text-right" %>
            <div class="col-md-9">
              <%= f.file_field :avatar %>
            </div>
          </div>
          <hr/>
          <div class="form-group row">
            <div class="col col-md-9 offset-md-3">
              <%= f.submit class: "btn btn-default mr-2" %>
              <a class="btn btn-gray" href="/users/member1">Cancel</a>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
