<div class="info_content">

  <h3><%= link_to branch.full_name, branch %></h3>
  <h5><%= branch.address %></h5>
  <p>
    <b><%= t ".email" %>: </b><%= branch.email %></br>
    <b><%= t ".phone_number" %>: </b><%= branch.phone_number %></br>
    <b><%= t ".rating" %>: </b><%= branch.cached_avarage_rating %>
  </p>
</div>
