<!DOCTYPE html>
<html>
  <%= render "layouts/shared/head" %>

  <body class="front-page wide">
    <div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>
    <div class="page-wrapper">
      <%= render "layouts/shared/header" %>

      <section id="content-container" class="pv-30 grey-bg clearfix">
        <div class="container">
          <div id="flash-messages">
            <%= render "layouts/shared/flash" %>
          </div>
          <%= yield %>
        </div>
      </section>

      <%= render "layouts/shared/footer" %>
    </div>
  </body>
</html>
