<!DOCTYPE html>
<html>
  <head>
    <title>Classy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "#{Settings.google_map.src}?key=#{Settings.google_map.key}
      &libraries=#{Settings.google_map.libraries}&sensor=#{Settings.google_map.sensor}
      &language=#{Settings.google_map.language}&region=#{Settings.google_map.region}" %>
  </head>

  <body class="front-page wide">
    <div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>
    <div class="page-wrapper">
      <%= render "layouts/shared/header" %>

      <section class="pv-30 grey-bg clearfix">
        <div class="container">
          <div id="flash-messages">
            <%= render "layouts/shared/flash" %>
          </div>
          <%= yield %>
        </div>
      </section>

      <%= render "layouts/shared/footer" %>
    </div>
  </body>
</html>
