<!DOCTYPE html>
<html>
  <%= render "layouts/shared/head" %>

  <body class="front-page wide">
    <div id="modal_holder"></div>
    <div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>
    <div class="page-wrapper">
      <%= render "layouts/shared/header" %>

      <section id="content-container" class="pv-30 grey-bg clearfix">
        <div class="container">
          <div id="flash-messages">
            <%= render "layouts/shared/flash" %>
          </div>
          <div class="row">
            <%= render "layouts/management/sidebar" %>
            <div class="col-md-9 col-lg-9">
              <%= yield %>
            </div>
          </div>
        </div>
      </section>
      <%= render "layouts/shared/footer" %>
    </div>
  </body>
</html>
