<!DOCTYPE html>
<html>
  <head>
    <title>Classy</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "management/application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "management/application", "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <div class="container">
      <div id="flash-messages">
        <%= render "layouts/shared/flash" %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
